@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="carouselAllFeatures" class="carousel slide" data-bs-ride="carousel" j>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselAllFeatures" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselAllFeatures" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselAllFeatures" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./images/slider1.jpg" class="d-block w-100" alt="First Slidet">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Patient Care</h5>
                    <p>Doctors are the living superhuman and god.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./images/slider2.jpg" class="d-block w-100" alt="Second Slider">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Diagnosis</h5>
                    <p>We got one life, Live it healthy and happliy.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./images/slider3.jpg" class="d-block w-100" alt="Third Slider">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Medication</h5>
                    <p>We diagnosis your sickness and give medication.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAllFeatures" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAllFeatures" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div><!--/container-->
